<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Api\ProductRepositoryInterface" type="UdemyMagento\FirstModule\Model\CustomImplementation"/>
    <preference for="UdemyMagento\FirstModule\Api\PencilInterface" type="UdemyMagento\FirstModule\Model\Pencil"/>
    <preference for="UdemyMagento\FirstModule\Api\BookInterface" type="UdemyMagento\FirstModule\Model\Book"/>
    <preference for="UdemyMagento\FirstModule\Api\ColorInterface" type="UdemyMagento\FirstModule\Model\Yellow"/>
    <preference for="UdemyMagento\FirstModule\Api\SizeInterface" type="UdemyMagento\FirstModule\Model\Normal"/>
    <preference for="UdemyMagento\FirstModule\Api\BrightnessInterface" type="UdemyMagento\FirstModule\Model\Medium"/>

    <virtualType name="virtualTypeGuri" type="UdemyMagento\FirstModule\Model\Yellow">
        <arguments>
            <argument name="brightness" xsi:type="object">UdemyMagento\FirstModule\Model\High</argument>
        </arguments>
    </virtualType>

    <type name="UdemyMagento\FirstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">virtualTypeGuri</argument>
            <argument name="size" xsi:type="object">UdemyMagento\FirstModule\Model\Big</argument>
        </arguments>
    </type>


    <!-- TIPOS DE ARGUMENTOS -->
    <type name="UdemyMagento\FirstModule\Model\Student">
        <arguments>
            <argument name="name" xsi:type="string">Miguel</argument>
            <argument name="age" xsi:type="number">21</argument>
            <argument name="score" xsi:type="array">
                <item name="daw" xsi:type="number">9</item>
                <item name="dwes" xsi:type="string">CO</item>
            </argument>
        </arguments>
    </type>

    <!-- PLUGINS -->
    <type name="UdemyMagento\FirstModule\Controller\Page\HelloWorld">
        <plugin name="plugin_on_execute"
                type="UdemyMagento\FirstModule\Plugin\PluginSolution"
                sortOrder="10" disabled="true"/>
        <plugin name="plugin2_on_execute"
                type="UdemyMagento\FirstModule\Plugin\PluginSolution2"
                sortOrder="20" disabled="true"/>
        <plugin name="plugin3_on_execute"
                type="UdemyMagento\FirstModule\Plugin\PluginSolution3"
                sortOrder="30" disabled="true"/>
        <arguments>
            <argument name="heavyService" xsi:type="object">UdemyMagento\FirstModule\Model\HeavyService</argument>
        </arguments>
    </type>

</config>
